* {
  box-sizing: border-box;
}

#product-overview h1 {
  background: #ff1b68;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Anton", sans-serif;
}

main {
  height: 1000px;
}

#product-overview {
}

#product-overview h1 {
  padding: 20px;
  border: 5px #2ddf5c dashed;
  margin: 10px;
  width: 100px;
  height: 500px;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

h1 ~ p {
  color: purple;
}

h1 + p {
  color: pink;
}

body {
  font-family: "Montserrat", sans-serif;
}

section > span {
  color: blue;
}
